<h2>Zlecenia</h2>
<hr>
<table class="table stripped">
  <thead>
    <tr>
      <th width="60">Id</th><th>Zlecenie</th><th>Status</th><th width="170">Działania</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in orders">
      <td>{{ $index+1 }}</td>
      <td>{{ order.Nazwa_produktu }}</td>
      <td>{{ order.Status }}</td>
      <td>
       <button class="btn btn-success btn-sm" ng-click="rejestr(order)"><span class="fa fa-list"></span></button>
       <button class="btn btn-info btn-sm" ng-click="showOrder(order)"><span class="fa fa-eye"></span></button>
       <button ng-disabled="$root.user.Stanowisko != 'Administrator'" class="btn btn-warning btn-sm" ng-click="editOrder(order)"><span class="fa fa-pencil"></span></button>
       <button ng-disabled="$root.user.Stanowisko != 'Administrator'" class="btn btn-danger btn-sm" ng-click="$root.confirmBox('Jesteś pewny?', 'Czy na pewno chcesz usunąć tę umowę?', removeOrder, order)"><span class="fa fa-remove"></span></button>
      </td>
    </tr>
  </tbody>
</table>
<div ng-hide="orders.length > 0" class="alert alert-info">
  Brak zleceń...
</div>


<!-- Box do edycji -->

<div id="editOrderModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edytuj kontrakt</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="contractForm" method="POST" novalidate>
          <form name="orderForm" method="POST" novalidate>

            <div ng-show="errors" class="alert alert-danger" role="alert">
              <h4 class="alert-heading">Błąd!</h4>
              <p ng-repeat="e in errors">-{{ e }}</p>
            </div>

            <div class="form-group">
              <label for="nazwa_produktu">Nazwa produktu</label>
              <input ng-model="order.Nazwa_produktu" pattern="^[_\x20A-z0-9ąćęłńóśźżĄĘŁŃÓŚŹŻ]{1,}$" placeholder="Wpisz nazwę" minlength="3" maxlength="40" required class="form-control" name="nazwa_produktu" type="text">
              <div class="form-control-feedback invalid">Hmmm... na pewno się nie pomyliłeś?</div>
            </div>

            <div class="form-group">
              <label for="status">Status</label>
              <select class="form-control" name="status" ng-model="order.Status">
                <option selected>Do zatwierdzenia</option>
                <option>Zatwierdzono</option>
                <option>W realizacji</option>
                <option>Dostarczono</option>
                <option>Przesyłka zgubiona</option>
              </select>
            </div>

            <div class="form-group">
              <label for="data-roz">Data złożenia</label>
              <input class="form-control" ng-model="order.Data_zlozenia" name="data-roz" type="date">
              <div class="form-control-feedback invalid">To nie jest prawidłowa data!</div>
            </div>

            <div class="form-group">
              <label for="data-wys">Data wysłania</label>
              <input class="form-control" ng-model="order.Data_wyslania"  name="data-wys" type="date">
              <div class="form-control-feedback invalid">To nie jest prawidłowa data!</div>
            </div>

            <div class="form-group">
              <label for="data-zak">Data dostarczenia</label>
              <input class="form-control" ng-model="order.Data_wykonania"  name="data-zak" type="date">
              <div class="form-control-feedback invalid">To nie jest prawidłowa data!</div>
            </div>

            <div class="form-group">
              <label for="uwagi">Uwagi</label>
              <textarea ng-model="order.Uwagi" placeholder="Uwagi..." ng-required class="form-control" max-length="300" name="uwagi">
              </textarea>
            </div>

            <div class="form-group">
              <label for="typ">Typ przesyłki </label>
              <select name="typ" ng-model="order.IdTypu" class="form-control">
                <option ng-repeat="cat in cats" value="{{ cat.IdTypu }}">{{ cat.Nazwa }}</option>
              </select>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="updateOrder()" class="btn btn-primary">Zapisz zmiany</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
      </div>
    </div>
  </div>
</div>

<!-- Show contract box -->

<div id="showOrderModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Szczegółowe informacje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h3>{{ order.Nazwa_produktu }}</h3>
          <hr>
          <p><strong>Klient</strong> {{ order.Imie + ' ' + order.Nazwisko }}</p>
          <p><strong>Rodzaj</strong> {{ cats[order.IdTypu].Nazwa }} </p>
          <p><strong>Status:</strong> {{ order.Status }}</p>
          <p><strong>Data złożenia:</strong> {{ order.Data_zlozenia }}</p>
          <p><strong>Data wysłania:</strong> {{ order.Data_wyslania }}</p>
          <p><strong>Data wykonania:</strong> {{ order.Data_wykonania }}</p>
          <p><strong>Uwagi</strong></p>
          <p>{{ order.Uwagi || 'Brak uwag' }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>
